@use "sass:math";

$margin-generic: 10px;

.dictionary__card {
  border-radius: math.div($margin-generic, 2);
  box-shadow: 0 0 $margin-generic rgba(0, 0, 0, 0.1);
  position: relative;
  padding: $margin-generic $margin-generic * 2;
}

.word__source {
  margin: $margin-generic * 2 auto;
  padding-top: $margin-generic;
  border-top: 2px solid #ccc;
  font-size: small;
}

li,
strong {
  font-size: large;
  font-weight: bold;
}

.word__source a {
  color: black;
  text-decoration: none;
}

.word__synonyms {
  color: rgb(67, 67, 202);
}
