@use "sass:math";

$margin-generic: 10px;
$dim-color: #8f8f8f;

.dictionary__card {
  border-radius: math.div($margin-generic, 2);
  box-shadow: 0 0 $margin-generic rgba(0, 0, 0, 0.1);
  position: relative;
  padding: $margin-generic $margin-generic * 2;
  font-size: medium;
}

.word__source {
  margin: $margin-generic * 2 auto;
  padding-top: $margin-generic;
  border-top: 2px solid #ccc;
  font-size: small;
  color: $dim-color;
}

li {
  font-size: medium;
  font-weight: bold;
}

.word__source a {
  color: $dim-color;
  text-decoration: none;
}

.word__synonyms {
  color: #0f6bc0;
}

.meaning {
  color: $dim-color;
}

strong {
  font-size: large;
  margin-right: $margin-generic;
}

@media (max-width: 600px) {
  .word__source,
  a {
    font-size: 0.5rem;
  }
}
