@use "sass:math";

$border-radius-generic: 5px;
$border-color: #ccc;
$box-shadow-color: #3333;
$font-weight-input: 200;
$input-padding: 10px 20px;
$margin-generic: 10px;
$submit-font-size: 1.2rem;

.form {
  box-shadow: 0 0 $margin-generic 1px #3333;
  border-radius: math.div($margin-generic, 2);
  display: flex;
  margin: $margin-generic * 2 auto;
  overflow: hidden;
  width: 100%;
}

.form__input {
  border: 1px solid $border-color;
  border-right: none;
  font-family: fantasy;
  height: $margin-generic * 5;
  padding: $margin-generic $margin-generic * 2;
  width: 100%;

  &:focus {
    border-color: $border-color;
    box-shadow: none;
    outline: none;
  }
}

.form__input::placeholder {
  font-family: fantasy;
}

.form__submit {
  background-color: field;
  border: 1px solid $border-color;
  border-left: none;
  cursor: pointer;
  flex: 1;
  font-size: $submit-font-size;
}
