.form {
  width: 100%;
  min-width: 300px;
  margin: 50px auto;
  display: flex;
  box-shadow: 0 0 10px 1px #3333;
  border-radius: 5px;
  overflow: hidden;
}

.form__input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  font-weight: 200;
  border: 1px solid #ccc; /* Ensure input has a border */
  border-right: none; /* Remove right border */
}

.form__submit {
  flex: 1;
  /* Match the height of the input field */
  /* Example background color */
  // color: white;
  border: 1px solid #ccc; /* Add border for the button */
  border-left: none; /* Remove left border to make it look like a continuation of input */
  cursor: pointer;
  font-size: 1.2rem;
}

button {
  width: 100%; /* Ensure it stretches to match the width of the form */
}
